<table class="table table-bordered">
	<thead>
		<tr>
			<th>id</th>
			<th>username</th>
			<th>password</th>
			<th>Admin</th>
			<th>View / Edit</th>
		</tr>
	</thead>
	<tr *ngFor="let user of users" [class.success]="!user.isadmin" [class.danger]="user.isadmin">
		<td>{{user.id}}</td>
		<td>{{user.username}}</td>
		<td>{{user.password}}</td>
		<td>{{user.isadmin}}</td>
		<td><a href="#"  (click)="onSelect(user)">view / edit</a></td>
	</tr>
</table>
<div *ngIf="selectedUser">

	<h2>{{ selectedUser.username }} Details</h2>
	<div><span>id: </span>{{selectedUser.id}}</div>
	<div>
		<form>
			<div class="form-group">
				<label for="uname">username</label>
				<input name="uname" [(ngModel)]="selectedUser.username" placeholder="username">
			</div>
			<div class="form-group">
				<label for="upass">password</label>
				<input name="upass" [(ngModel)]="selectedUser.password" placeholder="password">
			</div>
		</form>
	</div>

</div>
